# COGS 108 - Final Project

## Important

- ONE, and only one, member of your group should upload this notebook to TritonED. 
- Each member of the group will receive the same grade on this assignment. 
- Keep the file name the same: submit the file 'FinalProject.ipynb'.
- Only upload the .ipynb file to TED, do not upload any associted data. Make sure that for cells in which you want graders to see output that these cells have been executed.

## Group Members: Fill in the Student IDs of each group member here

Replace the lines below to list each persons full student ID, ucsd email and full name.

- A12785571, ekfu@ucsd.edu, Edwin Fu
- A12623303, jcloo@ucsd.edu, Joel Loo
- A13589612, bfbarry@ucsd.edu, Brian Barry
- A12690911, zes004@ucsd.edu, Sunny Sun
- A13736482, roz021@ucsd.edu, Roy Zhang
- A13014470, khh007@ucsd.edu, Kevin Huang

## Introduction: Background

From 2013-2018, the United States of America has gone through a period of time when there were over 260,000 reported occurrence of gun violence. With so many reported incidents within the span of only 5 years, there needs to be a way for citizens to find where all these incidents are occurring without having to sift through heaps of data. People should be aware of where areas of high gun violence rates are occurring and how possible prevention can occur. We seek to find out whether or not gun violence rates, household income level, and population level are correlated and if so, can there be a way to lower the gun violence rates in those areas. To operationalize this, we are using gun violence rates, household income levels, and population counts as our metrics since all three can be utilized for our research question of whether there is a correlation between income and gun violence within an area of the United States.

To start with our analysis, we will start by importing some Python library packages for analyzing and graphing our data:

# Library imports

In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
import patsy
import statsmodels.api as sm
import scipy.stats as stats
from scipy.stats import ttest_ind, chisquare, normaltest

plotly.tools.set_credentials_file(username='jcloo', api_key='6Qa08K4DBMMNjPHL2p0T')

In [2]:
# Configure Seaborn library
sns.set()
sns.set_context('talk')

In [3]:
#read datasets
url = "https://doc-0k-88-docs.googleusercontent.com/docs/securesc/a4oc2hqjnhqph43vaufe9fs3nelfc15u/n2em47vd7bqh0bu7a279knuoq26ugn8a/1552176000000/12632076152020903193/12632076152020903193/1KXzWFA-RIXwBXuOu81-E-MYi-e7WVfTj?e=download&nonce=1r1nehh1hfp4m&user=12632076152020903193&hash=uc1qcip4tede3ao389g85jg856941gf0"
gun_data = pd.read_csv("datasets/gun-violence-data_01-2013_03-2018.csv")
income_data = pd.read_csv("datasets/kaggle_income.csv", encoding = "ISO-8859-1")
rent_data = pd.read_csv("datasets/price.csv", encoding = "ISO-8859-1")
states = pd.read_csv("datasets/states.csv")

In [4]:
#Remove null values
#gun_data.dropna(inplace = True)
#income_data.dropna(inplace = True)
gun_data_abbrev = gun_data[['state', 'city_or_county','n_killed', 'n_injured']]

## Data Description

The datasets we are using are US State Population, Gun Violence, US Household Income. Details include state, county, state population, household income, its mean, its median, and its standard deviation. We will be using these sets to find out if the frequency of gun violence has a direct correlation with household income with the effect of population density.
These datasets can be obtained on:
US State Population - https://www.kaggle.com/lucasvictor/us-state-populations-2018?fbclid=IwAR2QTVJfUDl20U0YXWy804-poFuxP1f5IDnJecWh0AMGgoJImjTS0DVNsos
Gun Violence - 
https://www.kaggle.com/jameslko/gun-violence-data
US Household Income -
https://www.kaggle.com/goldenoakresearch/us-household-income-stats-geo-locations

In [5]:
#gun_data[(gun_data["city_or_county"]=="Mckeesport") & (gun_data["state"]=="Pennsylvania")]

# # clean/merge datasets by city

In [ ]:
#TODO: match rows/merge by City
#loop through income data and aggregate a dataframe by city

city_metrics = pd.DataFrame()
count = 0

for index, income_row in income_data.iterrows():
    city = income_row['City']
    state = income_row['State_Name']
    code = income_row['State_ab']
   # print(city)
    #print(state)
    
    #get dataframe of incident rows with matching state and city
    incidents = gun_data_abbrev.loc[(gun_data['state']  == state) & (gun_data['city_or_county'] == city)]
    #print(incidents)
    #compute each city's total incidents and total deaths/ whatever metrics for violence we want to use
    num_incidents = incidents.shape[0]
    total_killed = incidents['n_killed'].sum()
    total_injured = incidents['n_injured'].sum()

    #extract income metrics for city
    mean_inc = income_row['Mean']
    median_inc = income_row['Median']
    stdev_inc = income_row['Stdev']
    
    #construct row of the values we want to describe the city
    city_row = pd.DataFrame(columns = ['state','city','code','mean_inc','median_inc','stdev_inc','num_incidents','total_killed','total_injured'])
    city_row.loc[0] = [state,city,code,mean_inc,median_inc,stdev_inc,num_incidents,total_killed,total_injured]
    #print(city_row)
    
    city_metrics = city_metrics.append(city_row)

In [ ]:
#subset rent data to take only large city (avoid duplicates)

city_metrics_rent = pd.DataFrame()
count = 0

for index, rent_row in rent_data.iterrows():
    city = rent_row['City']
    state_abbrev = rent_row['State']
    
    #convert to full state name by comparing to states list
    state = states.loc[states['Abbreviation'] == state_abbrev]['State'].values[0]
    
    print(city)
    print(state)
    
    #get dataframe of incident rows with matching state and city
    incidents = gun_data_abbrev.loc[(gun_data_abbrev['state']  == state) & (gun_data_abbrev['city_or_county'] == city)]
    
    #compute each city's total incidents and total deaths/ whatever metrics for violence we want to use
    num_incidents = incidents.shape[0]
    total_killed = incidents['n_killed'].sum()
    total_injured = incidents['n_injured'].sum()

    #extract rent metrics for city
    latest_rent = rent_row['January 2017']
    
    #construct row of the values we want to describe the city
    city_row = pd.DataFrame(columns = ['state','city', 'latest_rent','num_incidents','total_killed','total_injured'])
    city_row.loc[0] = [state,city,latest_rent,num_incidents,total_killed,total_injured]
    city_metrics_rent = city_metrics_rent.append(city_row)

In [7]:
print(city_metrics)

          state            city mean_inc median_inc stdev_inc num_incidents  \
0       Alabama       Chickasaw    38773      30506     33101             1
0       Alabama      Louisville    37725      19528     43789             2
0       Alabama      Columbiana    54606      31930     57348             4
0       Alabama         Satsuma    63919      52814     47707             0
0       Alabama  Dauphin Island    77948      67225     54270             0
0       Alabama         Cullman    50715      42643     35886            15
0       Alabama    East Brewton    33737      23610     28256             0
0       Alabama         Coosada    46319      40242     38941             1
0       Alabama             Eva    57994      39591     47235             0
0       Alabama       Sylacauga    54807      41712     51359             9
0       Alabama      Rainsville    47929      38947     44430             1
0       Alabama         Gadsden    42251      28811     41397            58
0       Alabama       Georgiana    27993      19757     27656             1
0       Alabama        Rockford    31229      22745     27452             1
0       Alabama      Greensboro    36439      21136     45043             5
0       Alabama            Guin    56934      39047     53934             0
0       Alabama        Hartford    41057      21608     45280             2
0       Alabama          Helena    93682     300000     55763             4
0       Alabama     Hokes Bluff    57202      46738     44401             0
0       Alabama             Opp    49699      34049     48287             6
0       Alabama         Attalla    51926     300000     28590             3
0       Alabama        Millport    44572      34725     36562             0
0       Alabama         Section    56029      31635     62581             0
0       Alabama       Andalusia    51098      43794     32431             9
0       Alabama        Lockhart    45465      36849     45634             0
0       Alabama        Mcintosh    67392      48713     54529             1
0       Alabama     Maplesville    43767      30427     38304             0
0       Alabama       Fairfield    48074      39817     37964            59
0       Alabama          Mobile    53330      38231     50855           560
0       Alabama         Moulton    42079      28180     39942             4
..          ...             ...      ...        ...       ...           ...
0   Puerto Rico        San Juan    30891      21595     33560             0
0   Puerto Rico        San Juan    46829      31311     49033             0
0   Puerto Rico        San Juan    24180      14894     23159             0
0   Puerto Rico     Barceloneta    22124      15047     20368             0
0   Puerto Rico        San Juan    54378      37947     51297             0
0   Puerto Rico        San Juan    45808      37852     32505             0
0   Puerto Rico        San Juan    43078      23763     47278             0
0   Puerto Rico          Catano    38202      22736     40510             0
0   Puerto Rico        San Juan     5000       4790      2451             0
0   Puerto Rico     San Lorenzo    16864      11755     16254             0
0   Puerto Rico   San Sebastian    23541      13535     27901             0
0   Puerto Rico        Toa Alta    27735      19218     25434             0
0   Puerto Rico        Toa Baja    31731      26058     30074             0
0   Puerto Rico        Toa Baja    22303      15540     22772             0
0   Puerto Rico     Barceloneta    20006      14386     17794             0
0   Puerto Rico        Toa Baja    49134      43340     37995             0
0   Puerto Rico   Trujillo Alto    32251      20295     32759             0
0   Puerto Rico   Trujillo Alto    29826      21260     30943             0
0   Puerto Rico       Vega Alta    22946      15197     23637             0
0   Puerto Rico       Vega Baja    24366      18989     21314             0
0   Puerto Rico       Vega Baja        0          0         0             0
0   Puerto Rico         Humacao    24883      17902     24082             0
0   Puerto Rico           Yauco    16541       8752     27699             0
0   Puerto Rico        Adjuntas    19807       9378     21654             0
0   Puerto Rico        Adjuntas    23682      15051     30309             0
0   Puerto Rico        Guaynabo    30649      13729     37977             0
0   Puerto Rico          Aguada    15520       9923     15541             0
0   Puerto Rico          Aguada    41933      34054     31539             0
0   Puerto Rico          Aguada        0          0         0             0
0   Puerto Rico       Aguadilla    28049      20229     33333             0

   total_killed total_injured
0             0             0
0             0             3
0             0             5
0             0             0
0             0             0
0             6             4
0             0             0
0             0             1
0             0             0
0             6             1
0             0             1
0            17            31
0             0             0
0             0             0
0             3             1
0             0             0
0             0             4
0             1             2
0             0             0
0             1             8
0             0             1
0             0             0
0             0             0
0             2             1
0             0             0
0             1             0
0             0             0
0            29            33
0           161           303
0             2             4
..          ...           ...
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0
0             0             0

[32526 rows x 8 columns]

In [9]:
gun_data_abbrev.loc[(gun_data_abbrev['state'] == 'Alabama') & (gun_data_abbrev['city_or_county'])]

          state city_or_county  n_killed  n_injured
127     Alabama       Florence         0          4
272     Alabama     Montgomery         3          5
296     Alabama     Huntsville         1          0
315     Alabama     Tuscaloosa         0          3
320     Alabama       Crenshaw         1          0
383     Alabama        Gadsden         0          1
394     Alabama     Huntsville         0          0
396     Alabama     Huntsville         0          0
400     Alabama     Birmingham         1          0
465     Alabama     Huntsville         0          2
510     Alabama     Montgomery         0          1
524     Alabama    Union Grove         1          0
544     Alabama         Auburn         0          0
610     Alabama     Huntsville         1          0
755     Alabama        Madison         0          1
765     Alabama     Huntsville         0          0
807     Alabama     Huntsville         0          0
822     Alabama     Huntsville         0          0
823     Alabama       Bessemer         0          0
866     Alabama     Livingston         1          0
887     Alabama     Montgomery         0          0
901     Alabama     Huntsville         0          0
919     Alabama     Huntsville         0          0
923     Alabama     Huntsville         0          1
959     Alabama     Somerville         1          0
967     Alabama    Phenix City         0          1
978     Alabama     Huntsville         0          0
1036    Alabama         Mobile         1          0
1045    Alabama        Cusseta         0          1
1046    Alabama         Mobile         0          0
...         ...            ...       ...        ...
238528  Alabama           Troy         1          0
238529  Alabama     Birmingham         0          1
238543  Alabama        Opelika         0          1
238617  Alabama       Bessemer         0          2
238626  Alabama        Opelika         1          0
238702  Alabama         Dothan         1          0
238776  Alabama         Dothan         0          1
238795  Alabama     Tuscaloosa         0          1
238829  Alabama         Dothan         0          2
238867  Alabama     Huntsville         0          1
238886  Alabama     Pine Bluff         1          0
238946  Alabama     Birmingham         0          1
238947  Alabama         Mobile         0          0
239060  Alabama     Birmingham         0          2
239062  Alabama     Birmingham         0          1
239068  Alabama       Anniston         0          0
239076  Alabama     Montgomery         1          0
239219  Alabama     Birmingham         1          0
239227  Alabama         Auburn         1          0
239237  Alabama      Sylacauga         1          0
239238  Alabama       Bessemer         0          1
239349  Alabama          Selma         0          0
239354  Alabama        Gadsden         1          0
239437  Alabama        Opelika         1          0
239516  Alabama     Birmingham         1          0
239517  Alabama         Auburn         0          0
239538  Alabama         Mobile         1          0
239553  Alabama       Eclectic         2          0
239601  Alabama     Birmingham         1          0
239637  Alabama     Montgomery         0          1

[5471 rows x 4 columns]

## Data Visualization

In [ ]:
#TO-DO: Fix typeerror for seaborn plot

city_metrics.plot.scatter(x = 'mean_inc', y = 'num_incidents')

#inc_incidents_scat =  sns.lmplot(x ="mean_inc", y ="num_incidents", data =city_metrics, aspect = 1.5)

In [ ]:
#heatmap of US using plotly

scl = [
    [0.0, 'rgb(242,240,247)'],
    [0.2, 'rgb(218,218,235)'],
    [0.4, 'rgb(188,189,220)'],
    [0.6, 'rgb(158,154,200)'],
    [0.8, 'rgb(117,107,177)'],
    [1.0, 'rgb(84,39,143)']
]

us_data = [go.Choropleth(
    colorscale = scl,
    autocolorscale = False,
    locations = city_metrics['code'],
    z = city_metrics['num_incidents'].astype(int),
    locationmode = 'USA-states',
    text = city_metrics['num_incidents'],
    marker = go.choropleth.Marker(line = go.choropleth.marker.Line(color = 'rgb(255,255,255)', width=2)),
    colorbar = go.choropleth.ColorBar(title = "Incidents USA")
    )]

us_layout = go.Layout(
    title = go.layout.Title(text = 'Num Incidents Test'),
    geo = go.layout.Geo(
        scope='usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255,255,255)'
        ),
    )

fig = go.Figure(data = us_data, layout = us_layout)
py.iplot(fig, filename = 'test-choropleth-map')

## Ethics and Privacy